.dashboard {
    &-container {
        padding: 4rem 8rem;
    }

    &-typography {
        grid-column: 1/-1;
    }

    &-controls {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 4rem 0rem;

        & a {
            text-decoration: none;
            color: var(--color-grey-dark);
            font-size: 2rem;
            padding: 2rem;
            background-color: var(--color-grey-light);
            text-align:center;  
            margin: 0 1rem 0 0; 
            transition: all 1s;
            
            &:hover {
                border: .1rem solid var(--color-grey-dark);
            }
        }
    }
}