.dashboard {
    &-container {
        padding: 4rem 8rem;
    }

    &-typography {
        grid-column: 1/-1;
    }

    &-col-2 {
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) 1fr;
    }

    &-controls {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 4rem 0rem;

        & a {
            text-decoration: none;
            color: var(--color-grey-dark);
            font-size: 2rem;
            padding: 2rem;
            background-color: var(--color-grey-light);
            text-align:center;  
            margin: 0 1rem 0 0; 
            transition: all .5s;
            
            &:hover {
                background-color: var(--color-primary);
            }
        }
    }

    &-links {
        &-list {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            
            &-link {
               text-decoration: none;
               color: black;
            }
        }
    }
}