.form {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    padding: 5rem 0 0 0;

    &-container {
        grid-column: 1/3;
        padding: 0 5rem;
    }

    &-heading {
        font-size: 4rem;
    }

    &-elements {
        display: grid;
        margin-top: 4rem;
        grid-gap: 2rem;
        
        &-input {
            width: 100%;
            height: 5.5rem;
            font-size: 1.6rem;
            padding: 1.5rem 0 1.5rem 4rem;
            border: .1rem solid black;
            color: var(--color-grey-dark);
            border-radius: .8rem;

            &:hover {
                border-color: var(--color-blue-medium);
            }
            
            &:focus {
                outline: none;
                border: .2rem solid var(--color-primary);
            }
        }

        &-button {
            margin: 1rem 0 0 0;
            padding: 1rem;
            font-size: 1.5rem;
            background-color: var(--color-grey-dark);
            color: white;
            border: none;
            border-radius: .5rem;
            transition: all .5s;
            
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-grey-dark);
                border: none;
                cursor: pointer;
            }
        }
    }

    &-group {
        grid-column: 2/3;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        position: relative;

        &-label {
            font-size: 1.8rem;
            font-weight: 100;
            padding: 2rem;
            text-align: left;

            &-file {
                font-size: 1.6rem;
                font-weight: 100;
                border-radius: 1rem;
                box-shadow: 0 0 2px 1px var(--color-grey-dark);
                color: var(--color-grey-dark);
                margin: 2rem 0;
                padding: 1rem;

                &:hover {
                    color: white;
                    background-color: var(--color-grey-dark);
                    cursor: pointer;
                }
            }
        }

        &-input {
            width: 100%;
            padding: 1.2rem 2.5rem;
            font-size: 1.6rem;
            border-radius: 1rem;
            box-shadow: none;
            border: none;
            box-shadow: 0 0 1px .5px black;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 3px 2px var(--color-primary);
                border-radius: 1rem;
            }
        }

        &-textarea {
            font-family: inherit;
            font-size: 1.6rem;
            border-radius: 1rem;
            height: 7rem;
            border: none;
            box-shadow: 0 0 1px .5px black;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 3px 2px var(--color-primary);
                border-radius: 1rem;
            }
        }

        &-react-quill {
            font-size: 1.6rem!important;
            padding: 1.2rem;
            height: 10rem;
            border: none;
            border-radius: 1rem;
            box-shadow: 0 0 1px .5px black;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 3px 2px var(--color-primary);
                border-radius: 1rem;
            }
        }

        &-file {
            padding: 1.2rem;
            font-size: 1.6rem;
            box-shadow: none;
            border: none;
            transition: all .3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 3px 2px var(--color-primary);
                border-radius: 1rem;
            }
        }

        &-button {
            margin: 2rem;
            padding: 1rem;
            border: none;
            font-size: 1.4rem;

            &:hover {
                background-color: var(--color-primary);
                cursor: pointer;
            }

            &:focus {
                cursor: pointer;
                outline: 1px solid var(--color-primary);
            }
        }
        &-radio-input {
            display: none;
        }
        
        &-radio-label {
            font-size: 1.4rem;
            cursor: pointer;
            margin-left: 10rem;
        }
        
        &-radio-button {
            height: 2rem;
            width: 2rem;
            border: .2rem solid var(--color-primary);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 7rem;
            top: -.5rem;
        
            &::after {
                content: "";
                display: block;
                height: .6rem;
                width: .6rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--color-primary);
                opacity: 0;
                transition: all .5s;
            }
        }
        
        &-radio-input:checked ~ &-radio-label &-radio-button::after {
            opacity: 1;
        }
    
    }

    &-side {
        grid-column: 3/4;
        padding: 0 5rem 0 0 ;
        width: 100%;
        height: 50%;
    }
}

.list {
    max-height: 10rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    
    &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}