.home {
    &-categories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
        padding: 2rem;
    }

    &-category {
        width: 100%;
        transition: all .5s;
        display: grid;
        margin: 1rem;
        grid-template-columns: 1fr;
        cursor: pointer;

        &-image {
            width: 100%;
        }

        &-name {
            font-size: 2rem;
            padding: 2rem;
            color: var(--color-grey-dark);
        }

        &:hover {
            transform: translateY(-1rem);
        }

        &-controls {
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;

            &-update {
                background-color: var(--color-primary);
                color: white;
            }

            &-delete {
                background-color: var(--color-red-medium);
                color: white; 
            }
        }
    }

    &-trending {
        &-heading {
            margin-left: 5rem;
        }
    }
}