.nav {
    display: flex;
    // background-color: #F7C244;

    &-logo {
        font-size: 3rem;
        padding: 1rem;
        margin: 0 0 0 2rem;
    }
    
    &-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        color: black;

        &-item {
            transition: all .5s;
           & > a {
                text-decoration: none;
                font-size: 2rem;
                padding: 0 2rem;
                color: black;
                
            }

            &:hover {
                background-color: var(--color-primary);
                padding: 1.6rem 0;
            }
            
        }
    }
}

#nprogress .bar {
    height: .6rem!important;
    background-color: var(--color-blue-medium)!important;
}