.nav {
    display: flex;

    &-logo {
        font-size: 3rem;
        padding: 1rem;
        margin: 0 0 0 2rem;
    }
    
    &-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        color: black;

        &-item {
            transition: all .5s;
            & > a {
                text-decoration: none;
                font-size: 2rem;
                padding: 0 2rem;
                color: black;
                
            }

            &:hover {
                background-color: var(--color-primary);
                padding: 1.6rem 0;
            }
        }
    }

    &-list-right {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        margin-right: 2rem;

        &-item {
            transition: all .5s;
            padding: 0 2rem;
            
            & > a {
                text-decoration: none;
                font-size: 2rem;
                color: black;
            }

            & > span {
                text-decoration: none;
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }

            &-logout {
                text-decoration: none;
                font-size: 2rem;
                color: black;
                cursor: pointer;
            }

            &:hover {
                background-color: var(--color-primary);
                padding: 1.6rem 2rem;
            }
        }
    }
}

#nprogress .bar {
    height: .6rem!important;
    background-color: var(--color-blue-medium)!important;
}