.registration {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    padding: 5rem 0 0 0;

    &-container {
        grid-column: 2/3;
        text-align: center;
    }

    &-heading {
        font-size: 4rem;
    }

    &-form {
        display: grid;
        margin-top: 4rem;
        grid-gap: 2rem;
        
        &-input {
            width: 100%;
            height: 5.5rem;
            font-size: 2rem;
            padding: 1rem;
            border: none;
            border-bottom: .1rem solid black;
            

            &:focus {
                outline: none;
                border-bottom: .2rem solid var(--color-grey-dark);
            }
        }

        &-button {
            margin: 1rem 0 0 0;
            padding: 1rem;
            font-size: 1.5rem;
            background-color: var(--color-grey-dark);
            color: white;
            border: none;
            border-radius: .5rem;
            transition: all .5s;
            
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-grey-dark);
                border: none;
                cursor: pointer;
            }
        }
    }

    &-alert {

        &-success {
            font-size: 1.5rem;
            text-align: center;
            background-color: var(--color-primary);
            padding: 1rem;
            border-radius: .5rem;
        }

        &-error {
            font-size: 1.5rem;
            text-align: center;
            background-color: var(--color-red-light);
            padding: 1rem;
            border-radius: .5rem;
            color: var(--color-grey-dark);
        }
    }
}